*.iml
.gradle
.kotlin

**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
library/src/native/install/
library/src/native/build-ios
/library/src/androidMain/cpp/build-android/
/library/src/native/llama.cpp
/library/src/native/llama.cpp/.github/
